.list-00 {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: flex-start;
  justify-content: center;
  margin: 50px auto 200px;
  width: 80%;
  .list-01-01{
    display: block;
    margin: 30px;
    padding: 0px 10px 20px;
     width: 35%;
     border: 1px solid #fff ;
     box-shadow: 0 0 0 1px gray, 10px 10px 0 0 #000, 10px 10px 0 1px gray;
     .list-01-p,.list-01-t{
      text-align: center;
    }
  }
}
.cate_s{ 
  border: 1px solid rgba(0, 238, 255, 0.747);
  border-left:10px solid rgba(0, 238, 255, 0.747);
  background: #000;
  font-size: 100%;
}
