body {
  padding: 0px;
  margin: 0px;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  background-color: #000;
  color: #fff;
}

/*リンクの装飾*/
a:link {color: #fff;}
a:visited {color: #fff;}
a {text-decoration-line:none;}
a:active {color: #fff;}
a:hover {color: #000;}

.menu {
  width: 20%;
}

.menu-b,.c_f{
  text-align: right;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
  }
.menu-b p{
  font-size: 4vw;
  font-weight: bold;
  margin: 0;
}

.menu-b:hover {
  background-color: #fff;
}
.top{
  display: flex;
  width: 100%;
}

.topimg{
  width: 80%;
}

#MyProfile{
  width: 100%;
  height: 100%;
}

p,li {
  font-optical-sizing: auto;
  font-size: 18px;
}

h2 {
  font-optical-sizing: auto;
  font-weight: weight;
  font-size: 35px;
}

h3 {
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 20px;
}

#a_s{
  display: flex;
  width: 100%;
}

.about,.skill {
  text-align: center;
  display: block;
  margin: 10px auto;
  width: 50%;
}

.skill  h2 ,.skill_2 h3{
  text-align: center;
}

.skill_1 {
  display: flex;
  text-align: center;
  margin: 10px auto;
}
.skill_2{width: 50%;}

.pro{
  margin-left: 25%;
  text-align: left;
}

.works {
  text-align: center;
  display: block;
  margin: 50px auto ;
}

.workview{
  display: flex;
  margin: 50px auto ;
}

.workview div{
  width: 33%;
  margin: 5px;
}

#contact{
  text-align: center ;
}

  @media (max-width: 767px) {
    #a_w{
      display: block;
      width: 100%;
    }
    .about {
      margin: 10px;
      width: 100%;
    }
    .works {
      margin: 10px ;
      width: 100%;
    }
    .pro{
      margin: 0px 20% 0px 20%;
    }

  }

.c_f{
  margin: 5px auto 100px auto;
  border: double #fff;
  align-items: center; /* 上下中央寄せ */
  display: flex; /* Flexboxを適用 */
  justify-content: center; /* 左右中央寄せ */
  height: 50px;
  width: 150px;
}

.c_f a:hover {color: #000;}
.c_f:hover {
  border: double #000;
  background-color: #fff;
}

footer {
  color: #fff;
  background-color: dimgray;
  text-align: center;
}


/*下からフェードイン*/
.fadein_b {
  opacity: 0;
  animation-name: fadein-bottom;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes fadein-bottom {
  0% {
     opacity: 0;
     transform: translateY(20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

@keyframes scroll {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.fadein_a {
  animation: scroll linear;
  animation-timeline: view();
  animation-range: entry 0% contain 20%;
}